# Virtual environments
.venv/
envirax/

# Python cache and test artifacts
__pycache__/
*.pyc
.pytest_cache/

# Environment & secrets
.env

# Logs
*.log

# Project-specific files to ignore
storage/
future-updates.txt

# VSCode or editor-specific (optional)
.vscode/
.idea/
